In [1]:
import pandas as pd

In [2]:
# Create data and format to datetimes
df_A = pd.DataFrame({'start_date':['2017-03-27','2017-01-10'],'end_date':['2017-04-20','2017-02-01']})
df_B = pd.DataFrame({'event_date':['2017-01-20','2017-01-27'],'price':[100,200]})

df_A['end_date'] = pd.to_datetime(df_A.end_date)
df_A['start_date'] = pd.to_datetime(df_A.start_date)
df_B['event_date'] = pd.to_datetime(df_B.event_date)

In [3]:
df_A.head()

  start_date   end_date
0 2017-03-27 2017-04-20
1 2017-01-10 2017-02-01

In [4]:
df_B.head()

  event_date  price
0 2017-01-20    100
1 2017-01-27    200

In [5]:
# Create keys to do a cross join:
df_A = df_A.assign(key=1)
df_B = df_B.assign(key=1)

In [6]:
df_A

  start_date   end_date  key
0 2017-03-27 2017-04-20    1
1 2017-01-10 2017-02-01    1

In [7]:
df_B

  event_date  price  key
0 2017-01-20    100    1
1 2017-01-27    200    1

In [8]:
df_merge = pd.merge(df_A, df_B, on='key').drop('key',axis=1)
df_merge

  start_date   end_date event_date  price
0 2017-03-27 2017-04-20 2017-01-20    100
1 2017-03-27 2017-04-20 2017-01-27    200
2 2017-01-10 2017-02-01 2017-01-20    100
3 2017-01-10 2017-02-01 2017-01-27    200

In [9]:
# Filter out records that do not meet criteria of event dates between start and end dates
df_merge = df_merge.query('event_date >= start_date and event_date <= end_date')

In [10]:
df_merge

  start_date   end_date event_date  price
2 2017-01-10 2017-02-01 2017-01-20    100
3 2017-01-10 2017-02-01 2017-01-27    200

In [11]:
# Join back to original date range table and drop key column
df_out = df_A.merge(df_merge, on=['start_date','end_date'], how='left').fillna('').drop('key', axis=1)
df_out

  start_date   end_date           event_date price
0 2017-03-27 2017-04-20
1 2017-01-10 2017-02-01  2017-01-20 00:00:00   100
2 2017-01-10 2017-02-01  2017-01-27 00:00:00   200